@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    min-height: 50vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

span {
    color: goldenrod;
}

.navigation {
    background: transparent;
    backdrop-filter: blur(50px);
    border-radius: 10px;
}

.navigation a {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 100px;
    font-weight: 500;
    transition: .3s;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navigation a:hover {
    color: goldenrod;
    text-decoration: underline;
    transform: scale(1.1);
    transform-origin: 50% 50%;
    z-index: 100;
}

.beranda {
    display: flex;
    justify-content: space-between; /* Membuat elemen content dan foto berjauhan */
    align-items: center;
    height: 100vh;
    padding: 30px 100px;
    background-color: #f4f4f4; /* Menambahkan warna latar belakang */
}

.content {
    max-width: 500px;
    color: #333; /* Warna teks lebih gelap untuk keterbacaan */
}

.content h1 {
    font-size: 2rem;
}

.content h3 {
    font-size: 1.5rem;
    color: rgb(180, 180, 180);
}

.content p {
    padding: 10px 0 40px 0;
    line-height: 1.5;
}

.grup-tombol a {
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background: goldenrod;
    border-radius: 10px;
    border: 2px solid goldenrod;
    font-weight: 500;
    transition: .3s;
}

.grup-tombol a:hover:nth-child(1) {
    color: goldenrod;
    background: transparent;
}

.grup-tombol a:nth-child(2) {
    color: goldenrod;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}

.grup-tombol a:hover:nth-child(2) {
    color: white;
    background: goldenrod;
}

/* posisi sosial media yang rapih */

.sosial-media {
    position: fixed;
    bottom: 100px;
}

.sosial-media a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 40px;
    outline: 3px solid goldenrod;
    transition: .3s;
}

.sosial-media a:hover {
    transform: translateY(-5px);
}

.sosial-media a i {
    color: rgb(68, 60, 60);
    font-size: 20px;
}

.D-logo {
    width: 100px;
    height: 100px;
    cursor: default;
    background: transparent;
    backdrop-filter: blur(50px);
    border-radius: 50%;
    box-shadow: 0 5px 10px 5px rgb(190, 190, 190);
}

.profile-photo {
    max-width: 400px;
    margin-left: 50px;
}

.profile-photo img {
    width: 100%;
    height: auto;
    border-radius: 20px; /* Membuat foto lebih modern dengan sudut melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan efek bayangan */
}

/* responsive display */
@media screen and (max-width: 900px) {
    header {
        padding: 15px 50px;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation a {
        margin-bottom: 20px;
    }

  .beranda {
        flex-direction: column; /* Responsif untuk layar lebih kecil */
        text-align: center;
    }

    .profile-photo {
        margin-left: 0;
        margin-top: 20px;
    }


    .content {
        max-width: 100%;
    }

    .grup-tombol a {
        margin-left: 0;
        padding: 5px 20px;
    }

    .sosial-media {
        bottom: 300px;
    }
}
